@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Syne:wght@400;600;800&display=swap');

/* Initial Params */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito, sans-serif;
    background-color: #ffe6dc;
    color: #1f1f1f;
    gap: 30vh;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navMenu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navMenu a {
    color: #1f1f1f;
}

#right {
    text-align: end;
}

/* Landing */

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    gap: 3vh;
}

.landingImage {
    width: 60%;
}

.landingDescription {
    text-align: center;
    font-family: Syne, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.callToActionButtons {
    display: flex;
    width: 100%;
    gap: 2%;
}

.callToAction {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1.2rem 0;
    background-color: #f06c13;
    border-radius: 10px;
    color: #1f1f1f;
    font-weight: 600;
    font-family: Syne, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.callToAction:hover {
    background-color: #d96117;
    color: white;
}

#submitProjectButton {
    background-color: #1f1f1f;
    color: #f06c13;
}

#submitProjectButton:hover {
    background-color: #494949;
    color: white;
}

.scrolling {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-size: 12px;
}


.scrolling img {
    width: 50%;
}


/* Video */

.presentingVideo {
    width: 100%;
}

/* Company */

.companyDescription {
    display: flex;
    justify-content: center;
}

.companyDescription p {
    text-align: justify;
    text-transform: uppercase;
    font-family: Syne, sans-serif;
    font-size: 32px;
    width: 70%;
    line-height: 40px;
}

/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/img/paradoxa-background.jpg');
    background-size: cover;
    border-radius: 25px;
    padding: 4rem 0;
    width: 90%;
    height: 80vh;
}

.projectDecoration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.projectDecoration p {
    color: white;
    text-transform: uppercase;
    font-family: Syne, sans-serif;
}

.line {
    border-bottom: 1px solid white;
    width: 55vw;
}

.projectInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 1rem;
}

.projectTextPart {
    gap: 1rem;
    width: 45%;
}

.projectTitle {
    font-family: Syne, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.projectDescription {
    color: white;
    font-size: 18px;
}

#projectButton {
    width: 20%;
}

/* Contact */

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.contactLine {
    border-bottom: solid 1px #1f1f1f;
    width: 100%;
}

.contactButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    color: #1f1f1f;
    font-family: Syne, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.contactButton:hover {

}

.contactImg {
    rotate: -90deg;
    width: 3rem;
}

.cinemaMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.mapTitle {
    font-family: Syne, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
